[Unit]
Description=Onebox onebox-subscription-web
After=network-online.target nss-lookup.target onebox-subscription.service
Wants=network-online.target onebox-subscription.service
[Service]
Type=simple
Environment="ONEBOX_DIR=/etc/onebox"
Environment="ONEBOX_BIN_DIR=/opt/onebox/bin"
Environment="ONEBOX_LOG_DIR=/var/log/onebox"
Environment="ONEBOX_RUN_DIR=/run/onebox"
Environment="ONEBOX_SITE_ROOT=/var/lib/onebox-site"
Environment="ONEBOX_SYSTEMD_DIR=/etc/systemd/system"
Environment="ONEBOX_INITD_DIR=/etc/init.d"
Environment="ONEBOX_EXE=/usr/local/bin/onebox"
Environment="ONEBOX_FRPS_DIR=/etc/onebox-frp"
Environment="ONEBOX_FRPS_BIN_DIR=/opt/onebox-frp"
Environment="ONEBOX_FRPS_WEB_VAR=/var/lib/onebox-frp"
Environment="ONEBOX_FRPS_LOG_DIR=/var/log/onebox-frp"
Environment="ONEBOX_FRPS_RUN_DIR=/run/onebox-frp"
Environment="ONEBOX_INIT=systemd"
ExecStartPre="/bin/mkdir" -p -m 0755 /run/onebox/nginx-subscription
ExecStart="/usr/sbin/nginx" "-p" "/etc/onebox/subscription" "-c" "/etc/onebox/subscription/nginx.conf" "-g" "daemon off;"
Restart=on-failure
RestartSec=5s
LimitNOFILE=1048576
[Install]
WantedBy=multi-user.target
